
.photo {
    max-width: 400px;
    border-radius: 6px;
}
.container-grid {
    padding-top: 40px;
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
    grid-auto-rows: auto;
    justify-content: center;
}
@media(max-width: 820px){
    .container-grid{
        grid-template-columns:repeat(auto-fit,minmax(359px, 400px) );
    }
    .photo{
        max-width: 359px;
    }
}
@media(max-width: 393px){
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 360px));
    }
    .photo{
        max-width: 359px;
    }
}
@media(max-width: 390px){
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 355px));
    }
    .photo{
        max-width: 355px;
    }
}
@media(max-width: 375px){
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 340px));
    }
    .photo{
        max-width: 340px;
    }
}
@media(max-width: 360px){
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 344px));
    }
    .photo{
        max-width: 343px;
    }
}




