.photo {
    max-width: 400px;
    max-height: 500px;
    border-radius: 6px;
}

@media screen and (max-width: 600px){

    .photo {
        min-width: 300px;
        height: 400px;
    }
}
@media screen and (max-width: 320px){
    .container-grid {
        display: block;

    }
}

.container-grid {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-auto-rows: auto;
    justify-content: center;
}