.photo {
    max-width: 400px;
    max-height: 500px;
    border-radius: 6px;
}
@media screen and (max-width: 2400px){
    .container-grid {
        display: grid;
        width: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
        grid-auto-rows: auto;
        justify-content: center;
    }
}
@media screen and (max-width: 400px){
    .container-grid{
        display: block;
    }

}
